/*--------------------------------------- General Styles ---------------------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
}
.layout {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
/*--------------------------------------- Header Styles ---------------------------------------*/
header {
    min-height: 5vh;
    background-color: rgb(0, 0, 0);
    color: white;
}
/*--------------------------------------- Main Styles -----------------------------------------*/
main {
    flex-grow: 1;
    background-color: white;
}
main>div>.row{
    background-color: rgb(240, 240, 240);
}
.titulos{
    margin: 0 !important;
    padding: 0 !important;
}
.resultado{
    color: black;
    font-size: 30px !important;
}
.form-check .form-check-input{
    float: none !important;
}
#contenedor{
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: center !important;
}
.cuadro{
    width: 300px !important;
}
.texto{
    height: 100px !important;
}
.close{
    padding-right: 30px !important;
}
/*--------------------------------------- Footer Styles ---------------------------------------*/
footer {
    /*min-height: 5vh;*/
    background-color: rgb(0, 0, 0);
    color: white;
}
p {
    margin-bottom: 0 !important;
    padding: 10px;
}

/*---------------------------------------------------------------------------------------------*/
/*--------------------------------------- Media Queries ---------------------------------------*/
/*---------------------------------------------------------------------------------------------*/

/*------------------------------------------- 768px -------------------------------------------*/
@media screen and (min-width: 768px) {
    /*-------------------------- Header Styles --------------------------*/
    /*-------------------------- Main Styles ----------------------------*/
    /*-------------------------- Footer Styles --------------------------*/
}
/*------------------------------------------- 1024px -------------------------------------------*/
@media screen and (min-width: 1024px) {
    /*-------------------------- Header Styles --------------------------*/
    /*-------------------------- Main Styles ----------------------------*/
    /*-------------------------- Footer Styles --------------------------*/
}
/*------------------------------------------- 1440px -------------------------------------------*/
@media screen and (min-width: 1440px) {
    /*-------------------------- Header Styles --------------------------*/
    /*-------------------------- Main Styles ----------------------------*/
    /*-------------------------- Footer Styles --------------------------*/
}
